@model HealthPortal.Models.AppointmentIndexViewModel

@{
    ViewBag.Title = "Manage Appointments.";
}

<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
@if (User.IsInRole("Doctor"))
{
    <h4>Next Patient Appointment:</h4>
    <hr />
    if (Model.PatientAppointment != null)
    {
        <p>
            @Model.PatientAppointment.TimeDate.ToLongDateString()
            @Model.PatientAppointment.TimeDate.ToLongTimeString()
        </p>
        <ul>
            <li>Physician: Dr. @Model.Appointment.Patient.Identifier.FullName</li>
            <li>Purpose: @Model.Appointment.Reason</li>
            <li>@Html.ActionLink("View pre-checkup questionnaire", "AddResponse", new { ID = Model.Appointment.AppointmentID })</li>
        </ul>
        @Html.ActionLink("View all patient appointments", "ViewAppointments")
    }
    else
    {
        <p>No upcoming patient appointments!</p>
    }
}
else
{
    <h4>Next Personal Appointment:</h4>
    <hr />
    if (Model.Appointment == null)
    {
        <p>No upcoming personal appointments!</p>
    }
    else
    {
        <p>
            @Model.Appointment.TimeDate.ToLongDateString()
            @Model.Appointment.TimeDate.ToLongTimeString()
        </p>
        <ul>
            <li>Physician: Dr. @Model.Appointment.Physician.Identifier.FullName</li>
            <li>Purpose: @Model.Appointment.Reason</li>
            <li>@Html.ActionLink("Submit/View pre-checkup questionnaire", "AddResponse", new { ID = Model.Appointment.AppointmentID })</li>
        </ul>
        <hr />
    }
    @Html.ActionLink("Schedule a new appointment with primary physician", "ScheduleAppointment", "Appointment", new { Date = DateTime.Now }, null)<br />
    @Html.ActionLink("View all appointments", "ViewAppointments")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
