@model HealthPortal.Models.AddGroupViewModel

@{
    ViewBag.Title = "Add Group.";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("AddGroup", "Forum", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Form:</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.GroupName, new { @class = "col-md-3 control-label" })
        <div class="col-md-7">
            @Html.TextBoxFor(m => m.GroupName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit group" class="btn btn-default" />
        </div>
    </div>
}
@Html.ActionLink("Back", "ManageGroups")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}