@model HealthPortal.Models.AddPostViewModel

@{
    ViewBag.Title = "New Post.";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("AddPost", "Forum", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>@Model.Thread.Title</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <input type="hidden" name="ThreadID" value="@Model.ThreadID" />
    <div class="form-group">
        @Html.LabelFor(m => m.Message, new { @class = "col-md-2 control-label" })
        <div class="col-md-8">
            @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit post" class="btn btn-default" />
        </div>
    </div>
}
@Html.ActionLink("Back", "ViewThread", new { ID = Model.ThreadID })

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
