@model HealthPortal.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Account Settings: </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Full Name: </dt>
        <dd>@Model.Name</dd>
        <dt>Address: </dt>
        <dd>
            @Model.Address
            [
            @Html.ActionLink("Change your address", "ChangeAddress")
            ]
        </dd>
        <dt>Date of Birth: </dt>
        <dd>@Model.DOB.ToShortDateString()</dd>
        <dt>Primary Physician</dt>
        <dd>
            @Model.PrimaryPhysician
            @if(Model.PrimaryPhysician == null)
            {
                @(new HtmlString("["))
                @Html.ActionLink("Set your primary physician","ChangePhysician");
                @(new HtmlString("]"))
            }
            else
            {
                @(new HtmlString("["))
                @Html.ActionLink("Change your primary physician", "ChangePhysician");
                @(new HtmlString("]"))
            }
        </dd>
        <dt>Email: </dt>
        <dd>@Model.Email</dd>
        <dt>Phone: </dt>
        <dd>
            @if (Model.PhoneNumber.Length == 11)
            {
                @(new HtmlString("+"))
                @Model.PhoneNumber.Substring(0,1)
                @(new HtmlString(" ("))
                @Model.PhoneNumber.Substring(1, 3)
                @(new HtmlString(") "))
                @Model.PhoneNumber.Substring(4, 3)
                @(new HtmlString("-"))
                @Model.PhoneNumber.Substring(7, 4)
            }
            else
            {
                @(new HtmlString("("))
                @Model.PhoneNumber.Substring(0, 3)
                @(new HtmlString(") "))
                @Model.PhoneNumber.Substring(3, 3)
                @(new HtmlString("-"))
                @Model.PhoneNumber.Substring(6, 4)
            }
            [
            @Html.ActionLink("Change your phone number", "ChangePhone")
            ]
        </dd>
        <dt>Emergency Phone: </dt>
        <dd>
            @if (Model.EmergencyPhone != null)
            {
                if (Model.EmergencyPhone.Length == 11)
                {
                    @(new HtmlString("+"))
                    @Model.EmergencyPhone.Substring(0,1)
                    @(new HtmlString(" ("))
                    @Model.EmergencyPhone.Substring(1, 3)
                    @(new HtmlString(") "))
                    @Model.EmergencyPhone.Substring(4, 3)
                    @(new HtmlString("-"))
                    @Model.PhoneNumber.Substring(7, 4)
                }
                else
                {
                    @(new HtmlString("("))
                    @Model.EmergencyPhone.Substring(0, 3)
                    @(new HtmlString(") "))
                    @Model.EmergencyPhone.Substring(3, 3)
                    @(new HtmlString("-"))
                    @Model.EmergencyPhone.Substring(6, 4)
                }
            }
            
            [
            @Html.ActionLink("Change your emergency phone number", "ChangeEmergencyPhone")
            ]
        </dd>
        <dt>Display Name: </dt>
        <dd>
            @Model.DisplayName
            [
            @Html.ActionLink("Change your display name", "ChangeDisplayName")
            ]
        </dd>

        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
        {
            @Html.ActionLink("Change your password", "ChangePassword")
    }
    else
    {
        @Html.ActionLink("Create", "SetPassword")
}
            ]
        </dd>
        @*<dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>*@
        @*
        Phone Numbers can used as a second factor of verification in a two-factor authentication system.

         See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication using SMS.

         Uncomment the following block after you have set up two-factor authentication
        *@
        @*
        <dt>Phone Number:</dt>
        <dd>
            @(Model.PhoneNumber ?? "None")
            @if (Model.PhoneNumber != null)
            {
                <br />
                <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                }
            }
            else
            {
                <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
            }
        </dd>
        *@
        @*<dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>*@
        @*@if (Model.TwoFactor)
        {
            using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>Enabled
                <input type="submit" value="Disable" class="btn btn-link" />
                </text>
            }
        }
        else
        {
            using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>Disabled
                <input type="submit" value="Enable" class="btn btn-link" />
                </text>
            }
        }*@
        @*</dd>*@
    </dl>
</div>
