@model HealthPortal.Models.DiagnosisIndexViewModel

@{
    ViewBag.Title = "Diagnosis Page";
}

<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
@if (User.IsInRole("Doctor"))
{
    <h4>List of Patients under your care:</h4>
    <hr />
    <table>
        <tr>
            <th>
                Patient Name
            </th>
        </tr>
        @foreach (var patient in Model.PatientList)
        {
            <tr>
               <td>
                   @Html.ActionLink(patient.Identifier.FullName, "ViewPatient", new {userID = patient.Id})
               </td> 
            </tr>
        }
    </table>

    <p>@Html.ActionLink("Add a Diagnosis Option", "AddDiagnosis")</p>

}
else
{
    <h4>List of your Diagnosis History:</h4>
    <hr />
    <table>
        <tr>
            <th>
                Diagnosis
            </th>
        </tr>
        @foreach (var item in Model.Diagnoses)
        {
            <tr>
               <td>
                   @item.DiagnosisName
               </td> 
            </tr>
        }
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
