@model HealthPortal.Models.ViewPatientDiagnosisViewModel

@{
    ViewBag.Title = "View Patient Page";
}

<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>

<h4>List of @Model.PatientName's Diagnosis History:</h4>
<hr />
<table>
    <tr>
        <th>
            Diagnosis
        </th>
    </tr>
    @foreach (var item in Model.Diagnoses)
    {
        <tr>
            <td>
                @item.DiagnosisName
            </td>
        </tr>
    }
</table>

<br />

<p>@Html.ActionLink("Add Diagnosis to this patient", "AddDiagnosisToPatient", new { patientID = Model.PatientID })</p>

<br />
<br />

@Html.ActionLink("Back", "Index")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
