@model HealthPortal.Models.PrescriptionsIndexViewModel

@{
    ViewBag.Title = "Prescriptions Page";
}

<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>

@if (User.IsInRole("Doctor"))
{
    <h4>List of Patients under your care:</h4>
    <hr />
    <table>
        <tr>
            <th>
                Patient Name
            </th>
        </tr>
        @foreach (var patient in Model.PatientList)
        {
            <tr>
                <td>
                    @Html.ActionLink(patient.Identifier.FullName, "ViewPatient", new { userID = patient.Id })
                </td>
            </tr>
        }
    </table>
    if (Model.PatientList.Count == 0)
    {
        <p>You have no patients currently!</p>
    }

    <br />
    <br />

    <p>@Html.ActionLink("Add a Prescription Option", "AddPrescription")</p>
    @Html.ActionLink("View Prescription Options", "ViewPrescriptions")

}
else
{
    <p class="text-success">@ViewBag.StatusMessage</p>
    <h4>List of your Prescription History:</h4>
    <hr />
    <table>
        <tr>
            <th>
                Prescriptions
            </th>
        </tr>
        @foreach (var item in Model.Prescriptions)
        {
            <tr>
                <td>
                    @item.PrescriptionName
                </td>
            </tr>
        }
    </table>
    if (Model.Prescriptions.Count == 0)
    {
        <p>You are not currently prescribed any medications.</p>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
